.task-table {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

.table-header p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #fafafa;
}

thead th {
    text-align: left;
    padding: 12px;
    color: #555;
    font-size: 14px;
}

tbody td {
    padding: 16px 12px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #555;
}

tbody tr:hover {
    background: #f7f7f7;
}

.task-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.click-row:hover {
    background: #f3f3f3 !important;
}


.dot {
    width: 8px;
    height: 8px;
    background: #007bff;
    border-radius: 50%;
    display: inline-block;
}

.status {
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    
}

.approved {
    background: #e4f7e6;
    color: #2c8a3f;
}

.pending {
    background: #ffe9d9;
    color: #d98238;
}
.sort-select {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    background: #f8f8f8;
}
.sort-select:hover {
    background: #eee;
}

/* POPUP OVERLAY */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin-bottom: 18px;
}

.form-block {
    margin-bottom: 18px;
}

.popup-box label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
}

.popup-box input,
.popup-box textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.popup-box textarea {
    min-height: 80px;
}


